<div id="sidebar-wrapper">
    <h3 style="color: #fff;text-align: center"> Desk</h3>
    <ul class="sidebar-nav">
        <li class="sidebar-brand" ng-controller="SideBarController">
          <a href="" class="menu_link" ng-click="loadFilters()">Filters</a>
          <a href="" class="menu_link" ng-click="loadLabels()">Labels</a>
          <a href="" class="menu_link" ng-click="loadNewLabel()">Create new label</a>
          <a href="" class="menu_link" ng-click="assignLabel()">Assign label</a>
        </li>
    </ul>
</div>

