/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap.min 
 *= require_self 
 */ 
 
table.padded_td td
{
	padding: 4px;
}

.label_field
{
	width:180px;
}
  
.menu_link 
{
	color: #fff;
	font-weight: bold;
	font-size: 15px;
} 

.long_dropdown
{
	width: 400px;
}

.medium_dropdown
{
	width: 200px;
}

.alert-danger, .alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #b94a48;
}
 

